#team {
  height: 285vh;
  position: relative;
  background: no-repeat center center cover;
}

.parallax {
  background: url("../../assets/DSC_pic-hero_banner.png") no-repeat center
    center fixed;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

// .wavesContainer{   // Possible solution for the waves.
//   background-image: url("../../assets/waves.svg");
//   background-size: cover;
//   background-repeat:no-repeat;
//   z-index: 1;
//   width: 100%;
//   height: 90%;
//   position:absolute;
//   bottom:0;
//   left:0;
// }

.wavesImg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

/* Desktop */
@media (max-width: 1366px) {
  #team {
    height: 285vh;
  }
}

/* Tablets */
@media (max-width: 768px) {
  #team {
    height: 205vh !important;
  }
}

/* Phone */
@media (max-width: 480px) {
  #team {
    height: 175vh !important;
  }
}
