#header {
  height: 10vh;
  overflow: hidden;
  background-color: #f1f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-right: 10px;

  a {
    float: right;
    display: block;
    color: #333333;
    font-family: "Phenomena";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }

  // img{
  //   padding-top: 1vh;
  //   height: 8vh;
  //   display: inline-block;
  // }

  ul{
    list-style-type: none;
  }

  span{
    display: inline-block;
  }
}

#logo{
  margin-top: 1.5vh;
  margin-left: 5%;
  height: 7vh;
  display: inline-block;
}

#full-logo{
  margin-top: 1.5vh;
  margin-left: 1vh;
  height:6vh;
  display: inline-block;
}

