#header {
  height: 10vh;
  overflow: hidden;
  background-color: #f1f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  ul{
    list-style-type: none;
  }
}

.links {
  float: right;
  display: block;
  color: #333333;
  font-family: "Phenomena";
  font-size: 5vh;
  text-decoration: none;
  margin: 10px 10px;
}

#logo{
  margin-top: 1.5vh;
  margin-left: 6vw;
  height: 7vh;
  display: inline-block;
}

#full-logo{
  margin-top: 1.5vh;
  margin-left: 0.4vw;
  height:6vh;
  display: inline-block;
}

